/* Column Gap */
/* Item sizing */
.cardList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	>* {
		box-sizing: border-box;
		&:not(:last-child) {
			margin-right: 32px;
		}
	}
}
.cardListItem {
	flex: 0 1 calc(33.3% - 32px);
}
.wrapper {
	display: inline-block;
	margin-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 0px;
	width: 100%;
}
#main-content {
	margin-left: 210px;
}
